* {
    font-family: "Verdana, Arial, Helvetica, sans-serif";
    font-size: 100%;
  }
  
  .heading {
      background-color: salmon;
      color: white;
      text-align: center;
      font-size: 40px;
  }
  
  .searchDiv {
    color: white;
    height: 100%;
    width: 14.1em;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 0;
    background-color: darkslateblue;
    margin-top: 50px;
    padding-top: 5px;
  }

  .rowCurrentWeather {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-left: .5em;
  }

  .forecastCards {
    height: 135px;
    margin-left: 2em;  
    margin-top: 1em;
    padding-left: 2em; 
    padding-top: 1em; 
    border-style: solid;
    border-color: black; 
    border-radius: 5px; 
    font-size: 15px;
    background-color: lightgray;
  }
  
  .cityRow {
    width: 20em;
  }
  
  .row {
      padding-left: 10px;
  }
  

  .future {
      font-size: 30px;
      background-color: salmon;
      color: white;
      text-align: center;
  }
  
  #previousCity {
    color: white;
    margin-left: 10px;
    width: 100%;
    font-size: 30px;
  }
  
  #displayMoment,
  #currentIcon {
    margin-left: 10px; 
  }
  
  .searchBox {
    display: inline-block;
    margin-left: .2em;
    font-size: 1.3em;
    font-size: 15px; 
  }
  
  .weatherForecast {
    display: inline-block;
    padding-left: 0;
    height: 11em;
    width: 50em;
    font-size: 1.5em;
    border-style: solid;
    border-color: black;
  }
  
  .wind,
  .temp,
  .UV,
  .humid {
    font-size: 0.8em;
    margin: 0.4em;
    font-style: bold;
  }
  
  .searchBtn {
    background-color: white;
  }