* {
    font-family: "Verdana, Arial, Helvetica, sans-serif";
    font-size: 100%;
  }
  
  .heading {
      background-color: salmon;
      color: white;
      text-align: center;
      font-size: 40px;
  }
  .weatherBox {
    height: 150px;
    margin-left: 2em;  
    margin-top: 1em;
    padding-left: 2em; 
    padding-top: 2em; 
    border-style: solid;
    border-color: grey; 
    border-radius: 5px; 
    font-size: 16px;
    background-color: lightskyblue;
  }
  
  .navbar {
    text-align: center;
    color: white;
  }
  
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
  
  .cityRow {
    width: 20em;
  }
  
  .searchDiv {
    color: white;
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkslateblue;
    margin-top: 50px;
    padding-top: 5px;
  }
  
  #row1 {
    display: flex;
    flex-direction: row;
  }
  
  #previousCity {
    color: white;
    margin-left: 10px;
    width: 100%;
  }
  
  #displayMoment,
  #currentIcon {
    margin-left: 10px; 
  }
  
  .searchBox {
    display: inline-block;
    margin-left: 0.2em;
    font-size: 1.3em;
    font-size: 16px; 
  }
  
  .weatherReport {
    display: inline-block;
    padding-left: 0;
    height: 11em;
    width: 50em;
    font-size: 1.3em;
    border-style: double;
    border-color: lightgrey;
  }
  
  .cityWind,
  .cityTemp,
  .cityUV,
  .cityHum {
    font-size: 0.8em;
    margin: 0.4em;
    font-style: bold;
  }
  
  .searchBtn {
    background-color: lightskyblue;
  }