* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    background: navy;
    color: white;
}
.input {
    text-align: center;
    margin: 100px;
}

.inputValue {
    height: 50px;
    width: 300px;
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    border-color: black;
}

.submit {
    height: 50px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    border-color: black;
}

.display {
    text-align: center;
}